/* 
    Document   : main.css
    Created on : 27.05.2013, 16:31:01
    Author     : RW
    Description:
	Main CSS File for MGB Bootstrap Template. 
	Style Responsive
	
	Require: Bootstrap V 3
	@link http://getbootstrap.com/
	*/
/* Style */
div.container.container-main {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
}

div.entry {
	border-radius: 6px;
	margin-bottom: 30px;
	padding: 10px;
}

div.entry:last-of-type {
	margin-bottom: 0px;
}

div.messages_header {
	margin-bottom: 5px;
}

img.gravatar {
	padding: 4px;
}

div.messages {
	word-wrap: break-word;
}

div.infobar {
	padding: 3px 4px;
	margin-top: 5px;
	margin-bottom: -5px;
}

.gravatarLeft {
	display:inline;
	margin-right: 10px;
}

div.captcha {
	margin: 5px;
}

div.selects {
	margin-bottom: 15px;
}

div.smileys {
	margin-top:15px;
}

div.announcement {
	margin-bottom: 15px;
}

div#recaptcha_area {
	margin: 0 auto;
}

div.comment {
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	margin-top: 5px;
	}
	
div.form-group-select > div select{
	margin-left: -15px;
	margin-bottom: 5px;
}
div.box-pagination{
	margin-top:10px;
	margin-bottom:10px;
}