/* 
    Document   : style.css
    Created on : 27.05.2013, 16:31:01
    Author     : RW
    Description:
	Main CSS File for MGB Bootstrap Template. 
	Style Responsive
	
	Require: Bootstrap V 3
	@link http://getbootstrap.com/
	*/
/* Colors */
div.entry {
	border: #eee solid 1px;
	box-shadow: 4px 4px 10px #ddd;
	background-color:#fff;
}

div.messages_header {
	border-bottom: 1px solid #eee;
}

img.gravatar {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

div.infobar {
	background-color: rgba(238,238,238,0.5);
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
div.comment {
	border-top:1px solid #EEEEEE;
}